APP_NAME="eDTR"
APP_ENV=local
APP_KEY=base64:jnO7StJsaVM49KoAtIosuxRSPCGxfw2rn1jfBxQYLC4=
APP_DEBUG=true
APP_TIMEZONE=Asia/Manila
APP_URL=http://dtr-dev.test

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=ictd-databases.mysql.database.azure.com
DB_PORT=3306
DB_DATABASE=edtr
DB_USERNAME=adminAlfred
DB_PASSWORD=D@Pictd-edtr2024
MYSQL_ATTR_SSL_CA='/var/www/html/dtr-prod/DigiCertGlobalRootCA.crt.pem'

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=predis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp-relay.gmail.com
MAIL_PORT=587
# MAIL_USERNAME=69c14f03c33af4
# MAIL_PASSWORD=c64a51f788bf78
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="no-reply@edtr.dap.edu.ph"
# MAIL_FROM_NAME="eDTR no-reply"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

AZURE_STORAGE_API_ENDPOINT="https://edtrstorage.blob.core.windows.net/disk/"
AZURE_STORAGE_SAS_TOKEN="?sp=r&st=2023-12-31T16:00:00Z&se=2024-12-31T15:59:00Z&spr=https&sv=2022-11-02&sr=c&sig=jNQk2DCNhfbCiG5PDCYEzrIpWRy3qlc5G%2FtFykvV3as%3D"
AZURE_STORAGE_PUT_SAS_TOKEN="?sp=acw&st=2023-12-31T16:00:00Z&se=2024-12-31T15:59:00Z&spr=https&sv=2022-11-02&sr=c&sig=QsWv22TBfvRcr%2Bxy%2BJ5hIfwquiRF99LKLzcZUHN%2Ffa4%3D"
AZURE_STORAGE_DEL_SAS_TOKEN="?sp=d&st=2023-12-31T16:00:00Z&se=2024-12-31T15:59:00Z&spr=https&sv=2022-11-02&sr=c&sig=01IWPmfixI3rJR0tBEPyxKQ1DYtNF8yGRfCRwbLqGho%3D"
